<div id="page">
  <div class="container">
    <div class="row justify-content-center mb-3">
        <div class="d-flex row p-3">
          <div class="row smb-3" style="background-color:transparent";>
              <div class="row g-0 justify-content-around special-days-card">
                <div class="col-md-4">
                  <% url = 'https://source.unsplash.com/random?happybirthday' %>
                  <%= image_tag url, height: 120, width: 150, crop: :fill, class: "special-card-photo" %>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-title"><%= "#{current_user.partner.first_name}'s Birthday" %></p>
                    <p class="card-title"><%= current_user.partner.dob.to_formatted_s(:long) %></p>
                  </div>
                </div>
              </div>
              <div class="row g-0 justify-content-around special-days-card">
                <div class="col-md-4">
                  <% url = 'https://source.unsplash.com/random?birthday' %>
                  <%= image_tag url, height: 120, width: 150, crop: :fill, class: "special-card-photo" %>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-title"><%= "#{current_user.first_name}'s Birthday" %></p>
                    <p class="card-title"><%= current_user.dob.to_formatted_s(:long) %></p>
                  </div>
                </div>
              </div>
              <% if @special_days.present? %>
                <% @special_days.each do |day| %>
                  <div class="row g-0 justify-content-around special-days-card">
                    <div class="col-md-4">
                      <% url = 'https://source.unsplash.com/random?' + day.title %>
                      <%= image_tag url, height: 120, width: 150, crop: :fill, class: "special-card-photo" %>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <p class="card-title"><%= day.title.capitalize %></p>
                        <p class="card-title"><%= day.date.to_formatted_s(:short) %></p>
                        <%= link_to "Remove", day, class:"button-white-text", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
                      </div>
                    </div>
                  </div>
                <%end%>
              <% else %>
                <p>You have no saved Special Days</p>
              <% end %>
          </div>
        </div>
    </div>
    <%= render "special_days/new_special_day" %>
  </div>
</div>
