<div class="row m-3">
    <div class="card h-30">
      <div class="card-body">

        <div class="flex-container">
          <div class="flex-item">
              <% if booking.experience.photos.attached? %>
              <%= cl_image_tag booking.experience.photos.first.key, class: "exp-image", crop: :fill %>
            <% end %>
          </div>

          <div class="flex-item text-start booking_info">
            <p class="card-title">
              <%= link_to booking.experience.title, experience_path(booking.experience) %>
            </p>

            <p class="card-title">
            <%= "You are booked in for: #{booking.when.strftime('%d-%m-%Y')}" %>
            </p>

            <p class="card-title">
            <%= "#{booking.instructions}" %>
            </p>

            <p class="card-title">
            <%= "Total cost: $#{booking.experience.cost}" %>
            </p>

            <p class="card-title">
              <%= "Status: #{booking.status}" %>
            </p>
          </div>
        </div>

          <ul class="list-inline text-end">
            <li class="list-inline-item">
              <%= link_to "Edit booking", edit_booking_path(booking), class:"btn btn-primary" if booking.status == "pending" %>
            </li>
            <li class="list-inline-item">
              <%= link_to "Delete", booking, class:"btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </li>
          </ul>

      </div>
    </div>
</div>
