<div class="row m-2">
  <div class="card" style="max-width: 1050px;">
    <div class="row g-0">

      <div class="col-md-4">
        <% if booking.experience.photos.attached? %>
          <%= cl_image_tag booking.experience.photos.first.key, class: "img-fluid img_info mt-3", crop: :fill %>
        <% end %>
      </div>

      <div class="col-md-8 text-start">
        <div class="card-body" style="margin-left: 20px;">
          <p class="card-title">
            <%= link_to booking.experience.title, experience_path(booking.experience) %>
          </p>

          <p class="card-text">
            <%= "You are booked in for: #{booking.when.strftime('%d-%m-%Y')}" %>
          </p>

          <p class="card-text">
            <%= "#{booking.instructions}" %>
            </p>
            <% if booking.suprise? %>
              <p class="card-title">
              <%= "#{booking.secret_instructions}" %>
              </p>           
            <div class="d-flex justify-content-between">
              <div><%= link_to booking.experience.title, experience_path(booking.experience)%></div>
              <div><i class="fa-solid fa-mask" id="secret-mask"></i></div>
            </div>
            <% end %>
            <p class="card-title">
            <%= "Total cost: $#{booking.experience.cost}" %>
          </p>

          <p class="card-text">
            <%= "Status: #{booking.status}" %>
          </p>
        </div>
      </div>

        <ul class="list-inline text-end" style="
    padding-right: 10px;">
          <li class="list-inline-item">
            <%= link_to "Edit booking", edit_booking_path(booking), class:"btn btn-primary" if booking.status == "pending" %>
          </li>
          <li class="list-inline-item">
            <%= link_to "Cancel", booking, class:"btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </li>
        </ul>
    </div>
  </div>
</div>
