<div class="col-12 col-sm-6 mb-3 p-2 text-start">
  <div class="card-product">
    <%= image_tag "dinner.png" %>
    <div class="card h-30 secret">
      <div class="card-body">
        <p class="card-title">
          <strong> <%= link_to booking.experience.title, experience_path(booking.experience) %> </strong>
        </p>

        <p class="card-title">
        <%= "You are booked in for: #{booking.when}" %>
        </p>

        <p class="card-title">
        <%= "#{booking.instructions}" %>
        </p>

        <p class="card-title">
        <%= "Total cost: $#{booking.experience.cost}" %>
        </p>

        <p class="card-title">
          <%= "Status: #{booking.status}" %>
        </p>

        <ul class="list-inline text-end">
          <li class="list-inline-item">
            <%= link_to "Edit booking", edit_booking_path(booking) if booking.status == "pending" %>
          </li>
          <li class="list-inline-item">
            <%= link_to "Delete", booking, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
