<div class="row m-2">
  <div class="card">
    <div class="row g-0">

      <div class="col-md-4" style="margin-top: 10px;">
        <% if booking.experience.photos.attached? %>
          <%= cl_image_tag booking.experience.photos.first.key, class: "img-fluid img_info mt-3", crop: :fill %>
        <% end %>
      </div>

      <div class="col-md-8 text-start">
        <div class="card-body" style="margin-left: 1px; margin-top: 10px;">
          <% if booking.suprise? %>
              <div class="d-flex justify-content-between mb-3" style="font-size: 20px;">
                <div><%= link_to booking.experience.title, experience_path(booking.experience), :style=>"color: black; text-decoration: none"%></div>
                <div><i class="fa-solid fa-mask" id="secret-mask"></i></div>
              </div>
          <% else %>
            <p class="card-title" style="font-size: 20px;">
              <%= link_to booking.experience.title, experience_path(booking.experience), :style=>"color: black; text-decoration: none" %>
            </p>
          <% end %>
          <p class="card-title">
            <%= "You are booked in for: #{booking.when.to_formatted_s(:long)}" %>
          </p>

          <p class="card-title">
            <%= "#{booking.instructions}" %>
            </p>
            <p class="card-title">
           </p>

           <p class="card-title">
            <%= "Total cost: $#{booking.experience.cost}" %>
          </p>

          <p class="card-title">
            <%= "Status: #{booking.status}" %>
          </p>
            <% if booking.suprise? %>
              <p class="card-title">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-link" style="padding: 0px;text-decoration: none;" data-bs-toggle="modal" data-bs-target=<%= "#Modal-#{booking.id}" %>>
                <%= "#{current_user.partner.first_name} will see"%>
                </button>

                <!-- Modal -->
                <div class="modal fade" id=<%= "Modal-#{booking.id}" %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <%= render 'secret_book', booking: booking %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-homepage" data-bs-dismiss="modal">Close</button>
                        <%# <button type="button" class="btn btn-primary">Save changes</button> %>
                      </div>
                    </div>
                  </div>
                </div>
              </p>
              <%# <p class="card-title"> %>
                <%# <%= "#{booking.secret_instructions}" %>
              <%# </p> %>
            <% end %>
          <div>
            <ul class="list-inline text-end" style="margin-bottom: 0;">
              <li class="list-inline-item">
                <%= link_to "Edit booking", edit_booking_path(booking), class:"btn btn-primary btn-homepage" if booking.status == "pending" %>
              </li>
              <li class="list-inline-item">
                <%= link_to "Cancel", booking, class:"btn btn-primary btn-homepage", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
