<div class="index-container">
  <div class="p-3 justify-content-center">
    <div class="card h-30">
      <div class="card-body">
        <p class="card-title">
          <strong> <%= link_to booking.experience.title, experience_path(booking.experience) %> </strong>
        </p>

        <p class="card-title">
        <%= "You are booked in for: #{booking.when}" %>
        </p>

        <p class="card-title">
        <%= "#{booking.instructions}" %>
        </p>

        <p class="card-title">
        <%= "Total cost: $#{booking.experience.cost}" %>
        </p>

        <p class="card-title">
          <%= "Status: #{booking.status}" %>
        </p>
      </div>
    </div>
  </div>
</div>
