<div class="row m-2">
  <div class="card">
    <div class="row g-0">

      <div class="col-md-4" style="margin-top: 10px;">
        <% if booking.experience.photos.attached? %>
          <%= cl_image_tag booking.experience.photos.first.key, class: "img-fluid img_info mt-3", crop: :fill %>
        <% end %>
      </div>

      <div class="col-md-8 text-start">
        <div class="card-body">
          <% if booking.suprise? %>
              <div class="d-flex justify-content-between mb-3" style="font-size: 20px;" >
                <div><%= link_to booking.experience.title, experience_path(booking.experience), :style=>"color: black; text-decoration: none", class: "book-title"%></div>
                <div><i class="fa-solid fa-mask" id="secret-mask"></i></div>
              </div>
          <% else %>
            <p class="book-title">
              <%= link_to booking.experience.title, experience_path(booking.experience), :style=>"color: black; text-decoration: none"%>
            </p>
          <% end %>
        <div class="d-flex flex-column">
          <b class="book-info pb-3"> Date: <%="   #{booking.when.to_formatted_s(:long)}"%> </b>
          <b class="book-info pb-3"> Instructions:   <%= "#{booking.instructions}" %> </b>
           <div class="d-flex justify-content-between pb-3">
            <% if booking.experience.cost.positive? %>
              <strong class="book-info"><%= "Total cost:   $#{sprintf('%.2f', booking.experience.cost)}" %></strong>
            <% else %>
              <strong class="book-info">FREE </strong>
          <% end %>
            <div class="book-status"><%= "Status: #{booking.status.capitalize}" %></div>
          </div>
        </div>
            <% if booking.suprise? %>
              <div class="card-title">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" id="btn-small" data-bs-toggle="modal" data-bs-target=<%= "#Modal-#{booking.id}" %>>
                <%= "#{current_user.partner.first_name} will see"%> <i class="fa-sharp fa-solid fa-caret-right fa-lg"></i>
                </button>
              </div>
                <!-- Modal -->
                <div class="modal fade" id=<%= "Modal-#{booking.id}" %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Invitation sent to <%= current_user.partner.first_name%> :</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <%= render 'secret_book', booking: booking %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" style="flex: 0 0%;" data-bs-dismiss="modal">Close</button>
                        <%# <button type="button" class="btn btn-primary">Save changes</button> %>
                      </div>
                    </div>
                  </div>
                </div>
              <%# <p class="card-title"> %>
                <%# <%= "#{booking.secret_instructions}" %>
              <%# </p> %>
              <% else %>
              <br class= "pb-4">
            <% end %>
          <div>
            <ul class="list-inline text-end" style="margin-bottom: 0;">
              <li class="list-inline-item">
                <%= link_to "Edit booking", edit_booking_path(booking), class:"btn btn-primary", id: "btn-clear" if booking.status == "pending" %>
              </li>
              <li class="list-inline-item">
                <%= link_to "Cancel", booking, class:"btn btn-primary", id: "btn-clear", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
              </li>
            </ul>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
