<div class="banner">
  <div class="banner-content text-center">
    <%= video_tag "beach.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    <h1 id="banner-header">Not sure what to do? Perfect.</h1>
    <%= link_to "Plan my date", experiences_path, class: "btn btn-primary", id: "banner-button"  %>
  </div>
</div>

<div class="section">
  <h2 id="mood-header">What mood are you in?</h2>
</div>

<%= render "pages/carousel" %>

<div>
  <div class="big-card-container img-responsive">

    <%= link_to mood_experiences_path(query: "Romantic") do %>
      <div class="big-card card-category picnic col-sm-6 img-responsive">
        <h1 id="big-card-text">Go on a</h1><h1 id="big-card-text-red">romantic date</h1><h1 id="big-card-text-again">outdoors</h1>
      </div>
    <% end %>

    <%= link_to mood_experiences_path(query: "Relaxed") do %>
      <div class="big-card card-category feast col-sm-6 img-responsive">
        <h1 id="big-card-text">Have a</h1><h1 id="big-card-text-red">relaxed date</h1><h1 id="big-card-text-again">at home</h1>
      </div>
    <% end %>

  </div>
</div>

<div class="second-banner">
  <div class="second-banner-content text-center flex-container">
    <div class="flex-item" id="second-banner-text">
      <h2 id="second-banner-header">What people are saying</h2>
      <br>
      <br>
        <h5><strong>I am obsessed!</strong></h5>
          <p>I am constantly browsing Dateful for new cool date ideas for my partner. I have told all of my friends about it. The design is very user friendly and intuitive, and I love that you can surprise your partner with the secret date feature. I will be a user for life, that's for sure.</p>
          <p>- Matthieu, Melbourne</p>
      <%#= link_to "Plan my date", experiences_path, class: "btn btn-primary", id: "banner-button"  %>
    </div>
    <div class="flex-item">
      <div class="second-banner-image">
        <%# <img src="couple_at_home.png" alt="Couple embracing" width="200" height="300"> %>
      </div>
    </div>
  </div>
</div>
