<div class="col-12 col-sm-6 p-2">
<div class="index-container">
    <div class="index-card">
        <% if experience.cost.positive? %>
          <p class="cost">
            <%="$ #{sprintf('%.2f', experience.cost)}"%>
          </p>
        <% else %>
          <p class="cost">
            FREE
          </p>
        <% end %>
        <p class="description"><%= experience.description.truncate(75) %></p>
        <p class="reviews"><%="#{experience.ratings.length} reviews"%></p>
        <p class="mood" style="padding-right: 35px;"> <%= experience.mood_list %> </p>
        <% if experience.cost > 75 %>
          <%# <p class="dollars"><strong>$$$$</strong></p> %>
        <% elsif experience.cost > 50 %>
          <%# <p class="dollars"><strong>$$$</strong>$</p> %>
        <% elsif experience.cost > 25 %>
         <%# <p class="dollars"><strong>$$</strong>$$</p> %>
        <% elsif experience.cost.positive? %>
          <%# <p class="dollars"><strong>$</strong>$$$</p> %>
        <% else %>
          <%# <p class="dollars text-success"></p> %>
        <% end %>
        <%# <p class="host">MK Tours</p> %>
        <p class="exp-title"><%= link_to experience.title.truncate(26), experience_path(experience), :style=>"color: black; text-decoration: none" %></p>
        <p class="exp-address"><%= experience.address.truncate(40) %></p>

        <%= link_to experience_path(experience)do %>
          <% if experience.photos.attached? %>
            <%= cl_image_tag experience.photos.first.key, class: "exp-image", crop: :fill %>
          <% end %>
        <%# <img class="exp-image" src="https://via.placeholder.com/229x193"/> %>
        <% end %>

        <div class="star-rating">
          <% if experience.average_rating %>
            <%  experience.average_rating.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
            <%  (5 - experience.average_rating).times do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
          <% else %>
            <%= "Unrated" %>
          <% end %>
        </div>

        <% if user_signed_in? %>
          <%= render 'experiences/favorites', {experience: experience} %>
        <% end %>
        <div class="button-red">
        <div class="button-red-base">
          <p style="margin-bottom: 2px;">
          <%= link_to "Book Now", new_experience_booking_path(experience), class: "button-white-text"%> </p>
        </div>
        </div>
    </div>
</div>
</div>
