<h3 class="mt-0">What you'll do</h3>
<h6 class="info-description border-top"> <%= @experience.description %> </h6>
  <div class="d-flex" style="padding: 10px;">
    <i class="info-icon fa-regular fa-clock"></i>
    <i class="info-text"><%= @experience.time%></i>
  </div>
<br>
  <% @experience.feature_list.each do |feature| %>
    <% if feature == "Food" %>
      <div class="d-flex" style="padding: 10px;">
        <i class="info-icon fa-solid fa-utensils"></i>
        <i class="info-text"><%= "Meal included"%></i>
      </div>
      <br>
    <% end %>
    <% if feature == "Accessible" %>
      <div class="d-flex" style="padding: 10px;">
        <i class="info-icon fa-solid fa-wheelchair-move"></i>
        <i class="info-text"><%="Accessiblity-friendly"%></i>
      </div>
    <% end %>
    <% if feature == "Transport" %>
      <div class="d-flex" style="padding: 10px;">
        <i class="info-icon fa-solid fa-van-shuttle"></i>
        <i class="info-text"><%="Transport Provided"%></i>
      </div>
    <% end %>
    <% if feature == "Children" %>
      <div class="d-flex" style="padding: 10px;">
        <i class="info-icon fa-solid fa-child-reaching"></i>
        <i class="info-text"><%="Child Friendly"%></i>
      </div>
    <% end %>
    <% if feature == "Pets" %>
      <div class="d-flex" style="padding: 10px;">
        <i class="info-icon fa-solid fa-paw"></i>
        <i class="info-text"><%="Pets Allowed"%></i>
      </div>
    <% end %>
  <% end %>
  <div class="mt-auto d-flex align-items-center">
      <% @experience.mood_list.each do |mood| %>
        <% if @icons[mood] %>
          <%= image_tag @icons[mood], class: "mood-icon"%>
        <% end %>
      <% end %>
  </div>

<div class=" d-flex align-items-center">
    <% @experience.mood_list.each do |mood| %>
      <% if @icons[mood] %>
        <%= mood %>
      <% end %>
    <% end %>
</div>
