<% count = @experience.ratings.count  %>
<% set = @experience.ratings.drop(3) %>

<% set.each do |rating| %>
  <div class="user-rating">
    <% if rating.booking.couple.users.first %>
      <%= cl_image_tag rating.booking.couple.users.first.avatar.key, crop: :fill, class:"avatar-show" %>
    <% end %>
    <% if rating.booking.couple.users.last %>
      <%= cl_image_tag rating.booking.couple.users.last.avatar.key, crop: :fill, class:"avatar-show" %>
    <% end %>
      <% if rating.stars %>
        <%  rating.stars.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %>
        <%  (5 - rating.stars).times do %>
          <i class="fa-regular fa-star"></i>
        <% end %>
      <% end %>
      <br>
      <%= rating.comment%>
  </div>
<% end %>


<div id="myDIV">
<% subset = @experience.ratings.drop(3) %>

<% subset.each do |rating| %>
  <div class="user-rating">
    <% if rating.booking.couple.users.first %>
      <%= cl_image_tag rating.booking.couple.users.first.avatar.key, crop: :fill, class:"avatar-show" %>
    <% end %>
    <% if rating.booking.couple.users.last %>
      <%= cl_image_tag rating.booking.couple.users.last.avatar.key, crop: :fill, class:"avatar-show" %>
    <% end %>
      <% if rating.stars %>
        <%  rating.stars.times do %>
          <i class="fa-solid fa-star"></i>
        <% end %>
        <%  (5 - rating.stars).times do %>
          <i class="fa-regular fa-star"></i>
        <% end %>
      <% end %>
      <br>
      <%= rating.comment%>
  </div>
<% end %>
</div>
  <button onclick="myFunction()">Click Me</button>
  This is my DIV element.

<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
