<div class="container text-center">
   <div>
    <%= render "mood_carousel" %>
  </div>
  <div class="row align-items-center justify-content-between mb-4 mt-5">
    <div class="col-12 col-md-6">
      <h2 class="text-left mb-0" id="page-title"> Discover New Experiences </h2>
    </div>

    <div class="col-12 col-md-6 search-form-control">
    <%= form_with url: experiences_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an experience"
      %>
      <%= button_tag(type: "submit", class: "btn-search") do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <% @experiences.each do |experience| %>
    <div class="col">
        <%= render 'experiences/index_card', {experience: experience} %>
    </div>
      <% end %>
  </div>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
