<br>
<div class="container col-4">
  <h1>You are not currently in a couple</h1>
</div>
<br>
<div class="container col-4">
  <%= simple_form_for [@couple] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-actions">
      <%= f.button :submit, label: "Make a New Couple" class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<br>

<div class="container col-4">
  <%= link_to "Back to Dates", experience_path %>
</div>
